/* Base styles */
body {
  font-family: "Dongle", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  color: #343a40;
}

/* Container */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Product Details */
.product-details-container {
  padding: 40px 0;
}

.back-button {
  cursor: pointer;
  margin-bottom: 20px;
  display: inline-block;
  font-size: 1.2rem;
  color: #343a40;
  transition: color 0.3s;
}

.back-button:hover {
  color: #800000;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col-md-6 {
  flex: 1;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.img-fluid:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-title {
  font-size: 3rem;
  font-weight: bold;
  color: #800000;
  font-family: "Playfair Display", serif;
}

.product-price {
  font-size: 2rem;
  color: #343a40;
}

.product-details {
  margin-top: 20px;
  font-size: 1.2rem;
}

.product-details p {
  margin: 10px 0;
}

.description {
  margin-top: 20px;
  font-family: "Dongle", sans-serif;
  color: #343a40;
}

.btn-outline-dark {
  border: 2px solid #800000;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 1.2rem;
  color: #800000;
  background: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline-dark:hover {
  background-color: #800000;
  color: #fff;
}
